header {
  margin-bottom: 64px;
}

header p {
  margin-bottom: 36px;
}

main p {
  margin: 12px;
  color: rgb(71, 29, 22);
}

.highlight {
  background-color: rgb(225, 115, 101);
}

h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 0;
}

#taile {
  margin: 12px 0  ;
}

a {
  padding: 12px 48px;
  background-color: rgb(167, 1, 78);
  color: white;
  border: 1px solid rgb(167, 1, 78);
  border-radius: 4px;
  font-size: 24px;
  display: inline-block;
  margin: 0;
}

a:hover {
  text-decoration: underline;
  background-color: rgb(180, 12, 90);
  color: white;
}

ul {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  margin: 32px;
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#phancam {
  color: coral;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-family: "oswald", sans-serif;
  color: rgb(72, 13, 5);
  font-size: 26px;
}
